@import "tailwindcss";

:root {
  /* Background */
  --primaryColor: #ffffff;
  --secondaryColor: #eaf0fb;

  /* Brand */
  --primaryBrand: #1e3a5f;
  --secondaryBrand: #c9a84c;
  --accentColor: #4da3ff;

  /* Text */
  --primaryText: #000000;
  --secondaryText: #4a4a4a;

  /* UI */
  --neutralColor: #f5f7fa;
  --surfaceColor: #eaf0fb;
  --dividerBorder: #eaf0fb;
}

@theme {
  --color-primaryColor: var(--primaryColor);
  --color-secondaryColor: var(--secondaryColor);
  --color-primaryBrand: var(--primaryBrand);
  --color-secondaryBrand: var(--secondaryBrand);
  --color-accentColor: var(--accentColor);

  --color-primaryText: var(--primaryText);
  --color-secondaryText: var(--secondaryText);

  --color-neutralColor: var(--neutralColor);
  --color-surfaceColor: var(--surfaceColor);
  --color-dividerBorder: var(--dividerBorder);
}
