@import "tailwindcss";

/* Background: White #ffffff

Primary: Navy #1E3A5F

Secondary: Gold #C9A84C

PrimaryText: black #000000

SecondaryText: dark gray #4A4A4A

Neutral: Light gray #F5F7FA

Surface: Light Navy Tint #EAF0FB

Accent:

Sky blue #4DA3FF */
